<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qwz.mapper.NewsMapper" >
  <select id="selectAll" resultType="com.qwz.model.News">
    select * from t_news
    <where>
      1 = 1
      <if test=" title != null and title != '' ">
        and title like '%${title}%'
      </if>
    </where>
  </select>
</mapper>