<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qwz.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.qwz.model.Role" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ROLE_ID" property="roleId" jdbcType="BIGINT" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="allRole" resultMap="BaseResultMap">
    select * from t_role where 1=1
    <if test="roleName!=null">
      and ROLE_NAME=#{roleName}
    </if>
    <if test="createTime">
      and CREATE_TIME between #{startTime} and#{endTime}
    </if>
  </select>
  <select id="nextRoleId" resultType="java.lang.Long">
    select  AUTO_INCREMENT roleId from INFORMATION_SCHEMA.TABLES where TABLE_NAME='t_role' ORDER BY roleId desc limit 1
  </select>
</mapper>