<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qwz.mapper.RoleMenuMapper" >
  <resultMap id="BaseResultMap" type="com.qwz.model.RoleMenu" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ROLE_ID" property="roleId" jdbcType="BIGINT" />
    <result column="MENU_ID" property="menuId" jdbcType="BIGINT" />
  </resultMap>
  <insert id="addJurisdiction">
      insert into t_role_menu (ROLE_ID,MENU_ID) values (#{roleId},#{menuId})
  </insert>
  <delete id="deleteAllJurisdiction">
    delete * from t_role_menu where ROLE_ID=#{roleId}
  </delete>
  <select id="allJurisdiction" resultType="java.util.Map">
    SELECT m.MENU_NAME,rm.* from t_role r left join t_role_menu rm on r.ROLE_ID=rm.ROLE_ID
        left join t_menu  m on rm.MENU_ID=m.MENU_ID WHERE r.ROLE_ID=#{rolesId}
  </select>


</mapper>