<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qwz.mapper.SpecialPostMapper" >
  <resultMap id="BaseResultMap" type="com.qwz.model.SpecialPost" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="work_year" property="workYear" jdbcType="INTEGER" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="education_background" property="educationBackground" jdbcType="VARCHAR" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="special_post" property="specialPost" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="modify_time" property="modifyTime" jdbcType="DATE" />
  </resultMap>
  <select id="selectSpecial" resultMap="BaseResultMap">
    select id,name,id_number,sex,age,school,major,special_post from t_special_post where user_id=#{userid}
  </select>
  <select id="selectIdSpecial" resultMap="BaseResultMap">
    select s.id,s.name,s.id_number,s.sex,s.age,s.work_year,s.school,s.education_background,s.degree,s.major,s.special_post,r.name,r.size,r.path,r.type,r.ext_name from t_special_post s
    left join t_resource r on s.id = r.ref_biz_id where s.id =#{id}
  </select>
</mapper>